.add-book-form {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f9fa;
}

.add-book-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-book-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-book-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
}
.add-book-form .option {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}

.add-book-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #0a58ca;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-book-form button:hover {
  background-color: #084298;
}
