.form {
  margin: 100px auto;
  
}


.add-book-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #F4F8D3;
}

.add-book-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-book-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-book-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 8px;
}
.add-book-form .option {
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
}

.add-book-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #FFA955;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-book-form button:hover {
  opacity: 0.7;
}


@media (max-width: 480px) {
  .form {
    margin: 300px auto;
  }

  .add-book-form {
    padding: 40px;
  }
}

@media (max-width: 768px) {
   .form {
    margin: 300px auto;
  }
}
