.book-list-container {
 display: flex;
 flex-wrap: wrap;
 padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.book-card {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.book-img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.book-info {
  padding: 16px;
}

.book-info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color:coral;
}

.book-info p {
  font-size: 0.95rem;
  color: #444;
  margin: 4px 0;
}

.book-description {
  color: #666;
  font-style: italic;
}

.btn {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    transition: 0.2s ease-in;
}

.btn:hover {
    background-color: darksalmon;
    color:whitesmoke;
}