.home {
  background: linear-gradient(to right, #f8f9fa, #e0f7fa);
  padding: 50px;
  overflow-y: scroll;
 
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.welcome-section h1 {
  font-size: 2.5rem;
  color: ;
  margin-bottom: 20px;
  text-align: center;
}

.category-section h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #00695c;
  display: flex;
  justify-content: center;
}

.category-buttons {
  display: flex;
  gap: 10px;
}

.category-link {
  background-color: #FEBA17;
  color: white;
  border: none;
  padding: 7px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-size: 19px;
  margin:  10px 40px;
}

.category-link:hover {
  opacity: 0.7;
  color: black;
  transform: scale(1.05);
}

.popular-section h3 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: #004d40;
  margin-top: 30px;


}

/* .popular-section {
  display: flex;
  flex-direction: row;
} */

.bookcart {
  display: flex;
  justify-content: center;
}